/* CSS Document */
html {    
    /*margin-bottom: 1px;     /*forced scrollbar*/
} 

body {
    margin: 0 auto;  
    width: 100%;     
    font-family: "Libre Baskerville", "Raleway", "sans-serif", "Verdana", "Arial";     
    color: white;
    background-color: rgb(239, 239, 239); 
    overflow-x: hidden;
}

h1 {font-size: 2.05em; }
h2 {font-size: 1.6em; }
h3 {font-size: 1.1em; font-weight: 100; }
p {font-size: 0.9em;  }
hr { width: 40%; }
figcaption { font-size: 2em; }
a { font-size: 1.05em; }

.svg-shadow {
    -webkit-filter: drop-shadow (2px 2px 4px #000);
    filter: drop-shadow(2px 2px 4px #000);
}

.text-shadow {
    text-shadow: 2px 2px 4px #000;;
}

@media screen and (max-width: 768px){
    
    h1 {font-size: 1.9em; }
    h2 {font-size: 1.6em; }
    h3 {font-size: 1.1em; font-weight: 100; }
    p {font-size: 0.8em;  }
    hr { width: 40%; }
    figcaption { font-size: 1.1em; }
    /*a { font-size: 1.05em; }*/
} 

footer { 
    position: relative;
    width: 100%; 
    text-align: center;
    background-color: rgb(38, 39, 36);
    min-height: 70px;
}

.footer { 
    padding-top: 20px;
}

.footer img {
    height: 25px;
}
.footer p { 
    display: inline;
    margin: 0 5px 0; 
}
@media screen and (max-width: 768px){
    .footer p { 
        display: block;
        margin: 0 0 10px; 
    }
}

.footer nav {
    display: inline;
    vertical-align: middle;
}
 
header{                     
    z-index: 20;
    width:100%; 
    min-height: 60px;
    top:0;  
    left:0;  
}

.header {         
    transform: translate3d(0,0,0);
    position: fixed;
    margin: auto;    
    text-align: center;
    background-color: rgb(38, 39, 36);
    padding-bottom:1px; 
    } 

.header.is-relative{ position: relative; }      /*nastavenie pre fixed/unfixed header*/

#header-phantom {
    visibility: hidden;
    width: 100%;
    height: 103px;
}

.gallery-navbar{     
    position: fixed;
    z-index: 2;
    /* text-align: center; */
    height: auto;
    width: 100%;
    background-color: #ffffff;
    
    font-size: 12px;
    -webkit-margin-before: 0em; 
    -webkit-margin-after: 0em;
}

.gallery-navbar nav {
    margin-left: 70px;
}

.gallery-navbar nav li {
    width: auto ;
    margin: 0 10px;
}

.gallery-navbar a:link, .gallery-navbar a:visited {
    color: #919090;
} 
  
#headerPolozky a:link, #headerPolozky a:visited {
    padding-bottom: 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    transition: 0.2s ease-in-out;
    
}
@media screen and (min-width: 768px){   
    #headerPolozky a:hover {
        color: orange;
    }
}

.logo{    
    margin: 7px auto;
    width: 250px;
    height: 40px;
    background-image: url(../images/iv-photo.svg);
    background-repeat: no-repeat;
}

.menu-container{
    position: relative;
    width: 100%;   
}

.menu-icon-container {
    display: none;
    /*background-color: pink;    */
}
.menu-icon-container img {    
    height: 100%;
    width: 100%;
}

.header-animation {
    padding-top: 2px;
    visibility: hidden;
    width: 100%;
}

.header-animation.start {
    visibility: hidden;
    -webkit-animation-name: imgfadeIn; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 0.5s;
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: forwards;
    animation-name: imgfadeIn;
    animation-delay: 0.5s;
    animation-duration: 2s;
    animation-iteration-count: 1;   
    animation-fill-mode: forwards;
} 

@-webkit-keyframes imgfadeIn {
    0% {
        visibility:hidden;
        opacity: 0;        
    }
    100% { 
        visibility: visible;
        opacity: 1;    
    }
}

@keyframes imgfadeIn {
   0% {
        visibility:hidden;
        opacity: 0;        
    }
    100% {
        visibility: visible;
        opacity: 1;    
    }
}
  
#headerPolozky ul {  
    width: 100%;    
    padding: 0;
    -webkit-padding-start: 0px;
}
 
nav li { 
    display: inline-block; 
    width: 150px;
    height: 100%;    
}  

li, rollmenu a { 
    margin: 0px 10px;    
}

a.current, li.current{
    border-bottom: 2px solid orange;   
}

li.current{
    color: #464646;
    font-size: 14px;
}
 



/*--- header mobile stuff ---*/





@media screen and (max-width: 768px)        
{    
    .logo{
        width: 160px;
        height: 40px;
        margin-top: 15px;
    }    
    #headerPolozky{
        z-index: 25;
        display: none;              /* -- zakomentovat display, vytvorit class #headerPolozky.close  */
        position: absolute;
        right: -65%;
        top: 61px;
        background-color: rgb(38, 39, 36);
        
        -webkit-animation-name: hideMenu; /* Safari 4.0 - 8.0 */        
        -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
        -webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */
        -webkit-animation-timing-function: ease;
        -webkit-animation-fill-mode: forwards;
        
        animation-name: hideMenu;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-timing-function: ease;
        animation-fill-mode: forwards;         
    }  
    
    @-webkit-keyframes hideMenu {
        0% { right: 0%; opacity: 1; }
        100% { right: -60%; opacity: 0; }
    }
    
    @keyframes hideMenu {
        0% { right: 0%; opacity: 1; }
        100% { right: -60%; opacity: 0; }
    }
    
    #headerPolozky.open{
        z-index: 25;
        display: block;       
        -webkit-animation-name: showMenu; /* Safari 4.0 - 8.0 */        
        -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
        -webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */
        -webkit-animation-timing-function: ease;
        -webkit-animation-fill-mode: forwards;
        
        animation-name: showMenu;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        animation-timing-function: ease;
        animation-fill-mode: forwards;        
    }
    
    @-webkit-keyframes showMenu {
        0% { right: -60%;  }
        100% { right: 0%;  }
    }
    
    @keyframes showMenu {
        0% { right: -60%;  }
        100% { right: 0%;  }
    }  
    
    #header-phantom {
        visibility: hidden;
        width: 100%;
        height: 64px;
    }
    
    .header-animation{
        width: 50%;
        display: block;
    }
    .menu-container{
        float: left;
    }
    .menu-icon-container {
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);
        margin: auto;
        display: inline-block;
        width: 45px;
        height: 35px;
        float: right;
    }
    
    .nav-btn {
        cursor: pointer;
    }  
    #headerPolozky nav li {
        width: 100%;
        min-height: 40px;
        text-align: center;
        display: block;
        margin: auto;
        background-color: #545a5a;
        padding-top: 10px
        /* border: 1px solid black;  */
    }
    #headerPolozky nav li:hover{
        background-color: #404343;
    }
    
    #headerPolozky a.current li{
        background-color: #517161;
    }
    
    #headerPolozky ul{ 
        width: 300px;
        height: auto;
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em; 
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 0px;
        padding: 0; /*moz*/
        margin: 0;
    }
    
    .gallery-navbar{     
        position: absolute;
    }
}


/* -------------------------- */



.content {
    position: relative;
    font-family: "Verdana", "sans-serif";
    padding: 0px 0px 20px; 
    margin: auto;    
    color: black;    
    max-width: 1200px;
    min-height: 80vh;
    
}

.content-text-fade{ 
    padding: 90px 0px;
    max-width: 90%;
    margin: auto;
    background-color: rgb(239, 239, 239);
    text-align: center;
    /*
    text-indent: 50px;
    */
    opacity: 0;
    transform: translate(30px);
    transition: 0.6s ease-in-out;
}
.content-text-fade.is-showing{
    opacity: 1;
    transform: translate(0px);    
}
  


.content h1, .content h2 { 
    color: #747369;
    /* font-size: 2.2em; */
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: serif;
}



   
 
 tr, th, td { border: 1px solid black; }
 table { background-color: rgb(245,245,245);
         font-size: 12px;
         border: 2px solid black; 
         border-collapse: collapse;
         }


/* Slideshow */
.slideshowClass { 
    margin: auto;
    max-width: 900px;
    height: 600px;
    /*position: absolute;    
    */
}

.mySlides{ 
    display: none;    
}

/* -------- Contact -------- */

.social-links {
    margin: 35px 0 60px;
    text-align: center;
   /* background-color: #f8f8f8;
    */
    position: relative;
    width: 100%;
    height: auto;
}

.social-icon{
    position: relative;
    display: inline-block;
    width: 45px;
    height: 45px;
    margin: 10px 25px;
}

.social-icon img{
    width: 100%;   
}

.formular{  
    text-align: center;
    position: relative;
    margin: 50px auto ;
    width: 80%;
    min-height: 200px;
}

.form-control { margin-top: 5px; }

input { 
    text-align: center;
    width: 80%;
    padding: 8px 10px;
    margin: 12px 0px;
    box-sizing: border-box;
}
input:focus{ background-color: #f0f8f8; }

.input-name {
    display: inline-block;
    width: 44%;
}

input[type=submit]{
    width: 150px;
    background-color: white;
    border: 2px solid black;
    font-size: 1em;
    color: black;
    padding: 9px 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

input[type=submit]:hover{
    color: white;
    background-color: black;
}
textarea { 
    width: 80%; 
    min-height: 150px;
    resize: vertical;
    margin: 10px 0;
    padding: 8px 10px;
    margin: 12px 0px;
    box-sizing: border-box;
}

@media screen and (max-width: 768px){
    
    input, textarea { width: 90%; }
    
    .input-name{ 
        width: 100%;
        display: block;
    }
}

span.error { 
    color: red;
    font-size: 0.7em;
}

.thank-you{
    display: none;
    color: white;
    font-style: italic;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    width: 64%;
    background-color: rgb(72,72,72);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.thank-you.success{
    display: block;
}

/* --------- About me ----------------- */

.aboutme {
    margin: auto;
    position: relative;
    width: 90%;
    min-height: 350px;
}

.photo-container{
    position: relative;
    width: 100%;
    height: 310px;
    margin-bottom: 50px;
    /* border: 1px solid black; */
    border-radius: 5px;
}

.my-photo {
    height: 100%;
    background-image: url(../images/selfie-zobor-wide.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 200px;
    background-image: url(../images/CV_s_circle.jpg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 10px solid #7e7e7c;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    */
}

.text-about{    
    margin: auto 0;
    width: 100%;
    text-align: justify;
}
.text-about span {
    font-style: italic;
}

.contact-link {
    background-color: darkgray;
    width: 50%;
    height: 123px;
    
    border-radius: 10px;
    padding: 1px 0 15px;
    margin: 10px auto;
    text-align: center;    
}

.contact-link i {
    font-size: 300%;
    color: white;
    transition: all 0.3s ease-in-out;

}
.contact-link i:hover{
    color: #000;
}

.margin { margin: 0 0 50px;}
.center-text { text-align: center; }



@media screen and (max-width: 768px) {
    
    .photo-container {
        width: 100%;
        clear: both;
    }
    .text-about {
        width: 100%;
    }
}



/* --------- Paralax - Welcome ----------------- */

.para-box1{    
    position: fixed;
    margin: auto;
    width: 100vw;
    height: 90vh;
    background-color: pink;
    background: url("../images/slideshow/s3.jpg") no-repeat center center;              
    background-size: cover;
    top: 0; left: 0;
    z-index: -10;
}

.para-box2{
    margin: 0 auto;
    width: 100%;  
    background-color: rgb(239, 239, 239);
}

.space { margin-top: 90vh; }





/* --- Welcome on index page --- */ 

.welcome-bcgr{
    background-color: transparent;
    opacity: 0.8;
    padding: 37px 0px 5px;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 
#welcome-logo{       
    height: 100px;
    width: 100%;
    margin-top: -20px;
    /*background-image: url(../images/iv-photo.svg);
    background-repeat: no-repeat;
    background-position: center;  
    background-size: contain;*/
    position: relative;    
} 

#welcome-name{
    height: auto;
    width: 100%;
    position: relative;    
    margin-top: -30px;       
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2); */
}

#welcome-name p{
    font-family: "Raleway";
    letter-spacing: 3px;      
    font-size: 16px;   
    color: white;
    margin-top: 40px;
    text-align: center;
}

@media screen and (max-width: 768px){
    
    #welcome-name p { letter-spacing: 2px; }
    
    .welcome-bcgr { 
        width: 75%;
        padding: 15px 0px 5px;
    }
    
    #welcome-logo{        
        height: auto;
    }
     
}

/*---------- Gallery links on Home Page --------*/

#gallery-thumbs {    
    margin: 0 auto;
    width: 100%;
} 

.gallery-item {
    /*
    background-color: lightpink;
    */
    position: relative; 
    height: 350px;
    max-width: 90%;
    margin: 0px 0px 20px;
    left: 50%;
    transform: translate(-50%, 20%);
    transition: all 0.4s ease-in-out;
    opacity: 0;
}

.gallery-item.is-showing {
    opacity: 1;
    transform: translateX(-50%);
}

.gallery-item figure {
    position: relative;
    margin: auto;    
    height: 100%;             /* max height?? */
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px){   /* tab */
    .gallery-item {
        height: 170px;
    }
}

@media screen and (max-width: 410px){   /* mob */
    .gallery-item {
        max-height: 120px;
    }
}

.gallery-item figure figcaption {
    font-family: "Raleway";
    position: absolute;
    color:white;
    background-color: black;
    padding: 10px 25px;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
    /*transition-delay: 50ms;*/
    /*-webkit-transition-delay: 50ms;*/
    opacity: 0.3;

}

.gallery-item figure img {
    width: 100%;  
    display: block;    
    transform: scale(1);  
    transition: all 0.5s ease-in-out;
    /*transition-delay: 50ms;*/
    /*-webkit-transition-delay: 50ms;*/
    opacity: 0.9;

}

.gallery-item figure:hover figcaption {
    font-size: 40px;
    opacity: 1;
}

.gallery-item figure:hover img {
    transform: scale(1.05);
    opacity: 1;
}

@media screen and (max-width: 768px){
    .gallery-item figure:hover figcaption {
        font-size: 20px;
        opacity: 1;
    }
}

/* --- Gallery main page --- */

.gallery-category{
    width:60%;
    height: auto;
    display: block;
    background-color: #e6e6e6;
    
    font-size: 1.4em;
    text-align: center;
    padding: 20px 0;
    margin: 3px 0;
}



/* --- Gallery pages --- */

.gallery-container {
    /*
    position: relative;
    height: auto;
    width: 100%;
    background-color: pink;
    */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.image-container {
    position: relative; 
    display: inline-block;
    /*background-color: green;*/
    overflow: hidden;
    width: 32%;
    height: 260px;
    margin: 5px 3px;        
}

.image-container img { 
    width: auto;
    height: 100%;  
}

.image-container.vertical img {
    width:100%;
    height: auto;
}

/*Gallery grid responsive*/
@media screen and (max-width: 768px){    
    .image-container {
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }
    
    .image-container img { 
        width: 100%;
        height: auto;  
    }
    
    .image-container.vertical { 
        width: 100%;
        height: 100%;  
    }
}

.ig-feed {
    text-align: center;
    margin-top:100px;
}


/*  ---------------------  */

.retnuoc{
    display: none;
}
    